* {
  scroll-behavior: smooth;
}

.dark {
  background-color: #000;
}

.gray-1 {
  background-color: #171010;
}

.gray-2 {
  background-color: #1c1c1c;
}

.hover-1:hover {
  background-color: #000;
}

.hover-2:hover {
  box-shadow: 5px 5px 10px #fff;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

.content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }

  #sidebar.active {
    margin-left: 0;
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.amount-detail {
  padding-left: 2vh;
  padding-top: 5px;
  width: 18vw;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.money-plus {
  color: #2ecc71;
}

.money-minus {
  color: #c0392b;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  left: 19rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
.btn:focus,
  .delete-btn:focus {
    outline: 0;
  }